.main-header {
  background-color: var(--primaryStrong);
  color: var(--textOnPrimary);
}
.main-header a {
  color: white;
  text-decoration: none;
}

.main-header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-header-logo {
  max-width: 100%;
  height: auto;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
  padding: 0;
}

.main-nav li {
  display: inline-block;
}
.main-nav a {
  padding: 0.5em 1.5em;
}
